# uncomment the lines which you need

# here goes the directory where to copy the compiled grf
# INSTALLDIR =

# Flags for nforenum and grfcodec
# NFO_FLAGS = -w 141
# GRFCODEC_FLAGS = -e -p 2

# Mac users not: you probably want to set MD5SUM = md5 -r
# which is equivalent to the unix command md5sum
# MD5SUM   =
# GRFCODEC =
# RENUM    = 