name: Commit checker

on:
  pull_request:
    branches:
    - master

jobs:
  commit-checker:
    name: Commit checker
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 4

    - name: Get pull-request commits
      uses: OpenTTD/actions/checkout-pull-request@v6

    - name: Check commits
      uses: OpenTTD/OpenTTD-git-hooks@main
