name: Release

on:
  release:
    types:
    - published
  schedule:
  - cron: '0 21 * * *'
  workflow_dispatch:

jobs:
  release:
    name: Release
    uses: OpenTTD/actions/.github/workflows/rw-entry-release-baseset.yml@v6
    secrets: inherit
    with:
      apt-packages: gimp grfcodec
      name: opengfx
      pip-packages: nml
      problem-matcher: .github/workflows/nml-problem-matcher.json
